.history-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.setaCimaBaixoHistory {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.history-table th {
  padding: 12px 20px;
  text-align: left;
  border: 1px solid rgba(234, 237, 238, 1);
  font-weight: 600;
  position: relative;
  background-color: white;
  color: rgba(18, 25, 41, 0.64);
}

.history-table td {
  padding: 12px 20px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.table-wrapper-history {
  background: #fff;
  padding: 20px 0;
  border-radius: 10px;
}

.lupasvg-history {
  position: absolute;
  left: 149px;
  top: 210px;
}

.status-paid {
  background-color: rgba(194, 237, 121, 1);
  width: 202px;
  height: 17px;
  border-radius: 4px;
  border: 1px solid rgba(123, 198, 37, 1);
  padding: 6px 12px;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-unpaid {
  background-color: rgba(255, 167, 137, 1);
  width: 202px;
  height: 17px;
  border-radius: 4px;
  border: 1px solid rgba(255, 78, 58, 1);
  padding: 6px 12px;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}